*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1320px;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}



.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    width: 200px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Ensures text inherits the default color */
}

/* postBlog  */
.postBlog {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.postBlogTitle{
    padding: 10px;
}

